*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: rgb(155, 210, 229);


}

h1{
  padding-top: 1vmax;
  text-align: center;
  font: 700 2rem leiko;
}

.main{
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(155, 210, 229);

}

.card{
  /* height: 40vh; */
  width: 50%;
  background-color: white;
  margin-top: 2vmax;
  padding: 20px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
}

.card h2{
  font: 500 1.5rem roboto;
  margin-bottom: 2vmax;
}
.card p {
  opacity: .7;
}

.card-button{
  display: flex;
  justify-content: space-between;
  margin-top: .7vmax;
}
.card-button .one{
  color: black;
  opacity: .8;
  text-decoration: none;
}
.card-button .two{
  color: red;
  text-decoration: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-bottom: 1vmax; */
  background-color: rgb(155, 210, 229);

}

.search input{
  padding: 10px;
  padding-left: .5vmax;
  border: none;
  border-radius: 5px;
  padding-right: 5vmax;
  margin-top: 1vmax;
  margin-bottom: 1.5vmax;
  outline: none;
}

.pagination-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(155, 210, 229);
 

}